@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    padding: 0;
    margin: 0;
    background:  #062775;
background: linear-gradient(90deg, rgba(6, 39, 117, 1) 0%, rgba(45, 102, 156, 1) 76%, rgba(47, 124, 196, 1) 100%);
 font-family: "Poppins", sans-serif;
 font-weight: 400;
 text-transform: capitalize;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
 font-weight: 0;
}
.nav-left{
    margin-top:8px ;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.nav-right{
    margin-top:8px ;
    display: flex;
    width: 50%;
     align-items: center;
     justify-content: space-around;
     flex-wrap: wrap;
    
}
.logo{
    color:white;
    margin: 0;
    
}
select{
    background: transparent;
    color: rgb(93, 93, 226);
    border: 0;
    font-size: 20px;
    cursor: pointer;
}
a{
    color: white;
    font-size: 16px;
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: all 0.3s ease;
}
.btn1{
   padding:15px 40px 10px 20px ;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
}
.btn1:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   transition: all 0.3s ease;
}
.btn2{
    padding:15px 40px 15px 20px ;
    background-color:black;
    border-radius: 10px;
    color: white;
    text-align: left;
    font-size: 18px;
    margin-right: 40px;
  cursor: pointer;
}
.btn2 :hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   transition: all 0.3s ease;
}
.container{
    width: 60%;
    margin-left: 25px;
    color: white;
    margin-top: 90px;
    
}
.container h1{
    font-size: 40px;
    animation:moveleft 1s ease-in-out;
}
.container p{
    color: rgb(139, 139, 214);
    font-size: 16px;
    font-weight: 500;
     
}
.p1,.para{
    animation:moveleft 1s ease-in-out;

}
.btn3{
    background-color: rgb(48, 136, 187);
    border: none;
    border-radius: 8px;
   font-size: 15px;
   padding: 19px 30px;
   color: white;
   margin-right: 10px;
   animation:btnmov 1s ease-in-out;
}
.btn3:hover{
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     transition: all 0.3s ease;
    }
.btn4{
    background-color: transparent;
    border:1px solid rgb(90, 148, 224);
    border-radius: 8px;
   font-size: 15px;
   padding: 17px 30px;
   color: white;
   animation:btnmov 1s ease-in-out;
}
.btn4:hover{
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     transition: all 0.3s ease;
    }
.para{

    margin-top: 60px;
}
.items{
    margin-right: 10px;
    display: flex;
    gap: 20px;
    animation:itemmov 1s ease-in-out;
}
.item h2{
    margin: 0;
    font-size: 18px;
}
.item p{
    margin: 0;
}
@keyframes moveleft {
    from{
        opacity: 0;
       transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes itemmov {
    from{
        opacity: 0;
       transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes btnmov {
    from{
        opacity: 0;
       transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

